/* .userCard {
    display: block;
    width: 380px;
    height: 460px;
    background: linear-gradient(
      114.99deg,
      #471ca9 -0.99%,
      #5736a3 54.28%,
      #4b2a99 78.99%
    );
    box-shadow: -2.5777px 6.87386px 20.6216px rgba(0, 0, 0, 0.23);
    border-radius: 20px;
    position: relative;
  }
  .userAvatar {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 160px;
    top: 185px;
    z-index: 2;
    border-radius: 85.9232px;
  }
  .userTextFollowers {
    position: absolute;
    margin-top: 324px;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #ebd8ff;
    text-align: center;
  }
  .userTextTweets {
    position: absolute;
    margin-top: 284px;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #ebd8ff;
    text-align: center;
  }
  
  .userName {
    margin: 0;
  }
  .defaultButton {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 28px;
    gap: 6px;
    width: 196px;
    height: 50px;
    background: #ebd8ff;
    box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.25);
    border-radius: 10.3108px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #373737;
    margin-top: 374px;
    margin-left: 92px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .defaultButton:hover,
  .defaultButton:focus {
    background-color: #999;
  }
  .clickedButton {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 28px;
    gap: 6px;
    width: 196px;
    height: 50px;
    background: #5cd3a8;
    box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.25);
    border-radius: 10.3108px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #373737;
    margin-top: 374px;
    margin-left: 92px;
    cursor: pointer;
  }
  
  .avatarLine {
    position: absolute;
    width: 380px;
    height: 8px;
    background: #ebd8ff;
    box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.06),
      inset 0px -1.71846px 3.43693px #ae7be3, inset 0px 3.43693px 2.5777px #fbf8ff;
    margin-top: 210px;
  }
  
  .topImg {
    position: absolute;
    width: 308px;
    height: 168px;
    margin-top: 28px;
    margin-left: 36px;
  }
  .logoImg {
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;
  }
  
  .boyImg {
    position: absolute;
    width: 82px;
    height: 82px;
    left: 150px;
    top: 178px;
    border-radius: 85.9232px;
    z-index: 1;
  } */