.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  gap: 60px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 30px;
  font-weight: 900;
  height: 100%;
  box-sizing: border-box;
}

.headerContainer {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #4682b4;
  border-bottom: 1px solid gray;
  box-shadow: 2px 3px 5px lightgrey;
}

.navList {
  display: flex;
  gap: 100px;
  list-style: none;
}
